.enrolled-course-card {
  //   width: "100%";
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  overflow: hidden;

  img {
    height: 200px;
  }
}
