@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.header {
  background-color: white;
  // padding: 0;

  #components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }

  .logo {
    font-weight: 800;
    font-family: "Abril Fatface", cursive;
  }

  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  .top-bar-menu {
    font-weight: 700;
  }

  .user-link {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0 0 0 10px;
    }
  }
}
